body {
	background-color: #dcd4c4;
	font-family: monospace;
	margin: 0;
	padding: 0;
}

button {
	all: unset;
	background-color: #0d0d0d;
	cursor: pointer;
	margin: 4px;
	padding: 8px 16px;
	font-size: 16px;
}

select {
	all: unset;
	padding: 8px 16px;
	color: #dcd4c4;
	background-color: #0d0d0d;
	cursor: pointer;
	width: 150px;
	text-align: left;
}

select::-ms-expand {
	display: none;
}

.sliding-puzzle-game {
	display: grid;
	place-items: center;
	text-align: center;
}

.sliding-puzzle-moves {
	align-items: center;
	display: flex;
	margin-right: 24px;
}

.sliding-puzzle-moves-number {
	color: #0d0d0d;
	font-weight: 900;
	font-size: 16px;
	margin: 0 4px;
}

.sliding-puzzle-controls {
	color: #dcd4c4;
	display: flex;
	justify-content: space-between;
}

.sliding-puzzle-grid {
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	display: grid;
	grid-gap: 5px;
	margin: 20px auto;
}

.sliding-puzzle-item {
	align-items: center;
	background-color: #0d0d0d;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
	color: #dcd4c4;
	cursor: pointer;
	display: flex;
	font-size: 70px;
	height: 100px;
	justify-content: center;
	width: 100px;
}

.sliding-puzzle-size {
	position: relative;
	display: inline-block;
}

.icon--arrow {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

/* for the functionality */
.sliding-puzzle-grid[data-grid='9'] {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.sliding-puzzle-grid[data-grid='16'] {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.sliding-puzzle-grid[data-grid='25'] {
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.sliding-puzzle-item::after {
	content: attr(data-sliding);
	display: block;
}

.sliding-puzzle-item[data-sliding='0'] {
	background: none;
	box-shadow: none;
}
